{
  "presets": [
    [
      "es2015",
      {
        "loose": true
      }
    ]
  ],
  "plugins": ["transform-class-properties"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}