body {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

.pageHeader {
  background-color: black;
  padding: 1em 2em;
}

.pageHeader a {
    color: white;
    text-decoration: none;
}

.headerContent {
    margin: 0 auto;
    max-width: 48em;
    padding: 0;
}

.left {
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

.right a {
    margin: 0 0 0 4em;
}


.pageBody {
  padding: 0 2em;
  position: relative;
}

.content {
  margin: 0 auto;
  max-width: 48em;
  padding: 1em 0;
}

.highlight {
    background-color: #f7f7f7;
    padding: 1em;
    border-radius: 0.3em;
}
